.vc_btn {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    text-decoration: none !important;
    padding: 9px 12px;
    font-size: 100%;
    line-height: 20px;
    border-radius: 9px;
    text-align: center;
    width: 100%;    
    max-width: 300px;    
}

.vc_btn_largo {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    text-decoration: none !important;
    padding: 9px 12px;
    font-size: 100%;
    line-height: 20px;
    border-radius: 9px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-bottom: 15px !important;
    position: relative;    
}
.vc_btn_largo p, .vc_btn p {
    padding-top: 5px;
}

.vc_btn_largo .fa-stack {
    position: absolute;
    left: 0;
    top: 0;
}
.vc_btn_amarillo {
    background-color: #ffc83d;
    color: #000 !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.vc_btn_amarillo .fa-circle {
    color: #f88832;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;    
}

.vc_btn_amarillo .fa-inverse {
    color: #ffde8b;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;    
}
.vc_btn_amarillo:hover, .vc_btn_amarillo:active  {
    background-color: #f90;
    color: #fff !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.vc_btn_amarillo.vc_btn_3d {
    -webkit-box-shadow: 0 5px 0 #d09d22;
    box-shadow: 0 5px 0 #d09d22;
    margin-bottom: 5px;
}
.vc_btn_amarillo.vc_btn_3d:hover, .vc_btn_amarillo.vc_btn_3d:active  {
    -webkit-box-shadow: 0 5px 0 #cc7a00;
    box-shadow: 0 5px 0 #cc7a00;
    margin-bottom: 5px;
}

.vc_btn_amarillo:hover .fa-circle, .vc_btn_amarillo:active .fa-circle  {
    color: #f3642c; 
}

.vc_btn_amarillo:hover .fa-inverse, .vc_btn_amarillo:active .fa-inverse {
    color: #fff; 
}

.vc_btn_verde {
    background-color: #069e1b;
    color: #fff !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.vc_btn_verde .fa-circle {
    color: #057e16;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;    
}

.vc_btn_verde .fa-inverse {
    color: #d2df06;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;    
}
.vc_btn_verde:hover, .vc_btn_verde:active  {
    background-color: #057e16;
    color: #fff !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.vc_btn_verde.vc_btn_3d {
    -webkit-box-shadow: 0 5px 0 #057e16;
    box-shadow: 0 5px 0 #057e16;
    margin-bottom: 5px;
}
.vc_btn_verde.vc_btn_3d:hover, .vc_btn_verde.vc_btn_3d:active  {
    -webkit-box-shadow: 0 5px 0 #046512;
    box-shadow: 0 5px 0 #046512;
    margin-bottom: 5px;
}

.vc_btn_verde:hover .fa-circle, .vc_btn_verde:active .fa-circle  {
    color: #90bb0d; 
}

.vc_btn_verde:hover .fa-inverse, .vc_btn_verde:active .fa-inverse {
    color: #fff; 
}


.vc_btn_rojo {
    background-color: #F44336;
    color: #fff !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.vc_btn_rojo .fa-circle {
    color: #B71C1C;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;    
}

.vc_btn_rojo .fa-inverse {
    color: #FFCDD2;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;    
}
.vc_btn_rojo:hover, .vc_btn_rojo:active  {
    background-color: #C62828;
    color: #fff !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.vc_btn_rojo.vc_btn_3d {
    -webkit-box-shadow: 0 5px 0 #D32F2F;
    box-shadow: 0 5px 0 #D32F2F;
    margin-bottom: 5px;
}
.vc_btn_rojo.vc_btn_3d:hover, .vc_btn_rojo.vc_btn_3d:active  {
    -webkit-box-shadow: 0 5px 0 #B71C1C;
    box-shadow: 0 5px 0 #B71C1C;
    margin-bottom: 5px;
}

.vc_btn_rojo:hover .fa-circle, .vc_btn_rojo:active .fa-circle  {
    color: #E57373; 
}

.vc_btn_rojo:hover .fa-inverse, .vc_btn_rojo:active .fa-inverse {
    color: #fff; 
}
