	.tabla_martin {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.tabla_celda {
		width: 100%;
		text-align: center;
		padding: 10px;
	}	
	.tabla_martin_fila {
		background: #ccc;
	}
	.alinear_derecha {
		text-align: center;
	}
	.alinear_derecha {
		background: #ff6000;
		color: #fff;
		padding: 10px;
	}
@media only screen and (min-width: 768px) {
	.tabla_celda {
		text-align: left;
		width: 50%;
		float: left;
	}
	.alinear_derecha {
		text-align: right;
	}
}
	
	h2 {
		padding-bottom: 0px;
		font-size: 26px;
		text-align: center;
	}
	.vacio {
		color: #c6c6c6;
	}
	.boton_verde a{
		background: #48b617;
		color: #fff;
	}
	.boton_verde a:hover {
		background: #235d09 !important;
		color: #f6ff05;
	}	
	.boton_rojo a{
		background: #c40000;
		color: #fff;
	}
	.boton_rojo a:hover {
		background: #9e0101 !important;
		color: #f6ff05;
	}		
	h2 span {
	background: red;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	}
	.h2_direcciones {
		padding: 20px;
		padding-bottom: 0px;
	}
	h2 .h2_direcciones {
		margin-top: 40px;
		display: block;
	}
	.clear {
		clear: both;
	}
	.sin_fondo {
		background: #fff !important;
		color: #ff6000!important;
	}
	.fondo_celeste {
		background: #3a86f6 !important;
	}

	.area_texto{
		width: 100%;
	}
	#otro_problema {
		display: none;
	}
	#reportar_problema {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}
	#reportar_problema li{
		padding: 10px;
		background: #790054;
		color: #fff;
		cursor: pointer;
	}
	#reportar_problema li:nth-of-type(2n){
		background: #c400a3;
	}	
	.area_texto {
		color: #000;
		height: 200px;
	}

	.mostrar_otro_poblema {
		display: none;
	}
	#reportar_problema {
		display: none;
	}
	.ul_encabezado {
		color:#ffea00 !important;
		font-size: 20px;
		text-align: center;
	}

	.negocio_reportado {
		width: 100%;
		max-width: 600px;
		margin: 20px auto;
	}	
	.mapa{
	    width: 100%;
	    height: 300px;
	}	
	.input_mapa {
		width: 100%;
		padding: 14px;
	}
@media only screen and (min-width: 768px) {	
	.celda1 {
		float: left;
		width: 68%;
		margin-right: 2%;
	}
	.celda2 {
		float: left;
		width: 30%;
	}
}		

.celdaL1 {
	float: left;
	width: 50%;
	padding: 15px 0;
}

.celdaL1 input {
	border: 1px solid #cccccc;
}

.txt_rojo {
	color: red;
	font-size: 22px;
	margin-bottom: 20px;
}
hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.alerta_importante {
	max-width: 800px;
	margin: 0 auto;
}

.etiqueta_direccion {
	font-size: 18px;
	margin-bottom: 30px;
	cursor: pointer;
}
