
	.contenido_principal h1 {
		font-size: 36px;
	}
	.contenedor_permisos ul {
		width: 100%;
	}
	.contenedor_permisos ul li{
		float: left;
		padding: 0px;
	}	
	.contenedor_permisos .columna_izquierda {
		width: 90%;
	}
	.contenedor_permisos .columna_derecha {
		width: 10%;
	}	
	.contenedor_permisos h3{
		font-size: 20px;
	}
	.clear {
		float: none;
		clear: both;
	}
	.permiso {
		font-size: 18px;
		padding: 20px;
		padding-top: 10px;
	}

	.permiso:nth-of-type(2n) {
		background: #fcf2fa;
	}

	.permiso i {
		font-size: 30px;
		margin-top: 10px;
		margin-right: 10px;
	}
	.notificaciones_general {
		margin-bottom: 30px;
		font-size: 24px;
	}

	.notificaciones_general .titulo {
		color: #f90 !important;		
	}
	.boton_selector #boton_1{
		font-size: 40px;
	}
	.boton_selector a {
		color: #6d2766;
		cursor: pointer;
	}
	.primera_notificacion {
		margin-bottom: 50px;
	}

	.fa-toggle-on {
		color: #03af4f;
		cursor: pointer;
	}
	.fa-toggle-off {
		color: #f98c96;
		cursor: pointer;
	}	
	.primera_notificacion {
		margin-bottom: 50px;
	}	
	legend span	{
		color: #ce2450;
	}

	.imagen_delete a{
		position: absolute;
	}
	.imagen_contenedor {
		max-width: 240px;
	}

	.imagen_usuario {
		width: 100%;
	}
	#txt_usuario_nombre {
		text-align: left;
		margin-top: 25px;
	}
	@media only screen and (min-width: 992px) {
		#txt_usuario_nombre {
			text-align: right;
			margin-top: 25px;
		}	
	}
	.icono_boton {
		height: 50px;
		width: 50px;
	}
	.icono_drag_drop {
		display: block;
		width: 100%;
		max-width: 276px;
		margin: 0 auto;
		margin-bottom: 15px;
	}	

	#imagen_cargando {
		text-align: center;
	}
	.no_hay_informacion {
		color: #ccc;
	}

	#txt_usuario_nombre {
		line-height: 26px;
	}