	body {
	  font-size: 1.6rem;
	  font-family:"Trebuchet MS", sans-serif;
	  color: #fff;
		background: url('../img/cd-background-1.jpg') no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
  	}


  	.logo_paradigma {
  		margin: 0 auto;
  		display: block;
  		margin-top: 50px;
  		margin-bottom: 30px;
  		width: 100%;
  		max-width: 300px;
  	}
   	.loader_paradigma {
  		margin: 0 auto;
  		display: block;
  		margin-top: 240px;
  		width: 100%;
  		max-width: 200px;
  	} 	
	footer {
		background: #fff;
	}
	.encabezado_grande {
		width: 100%;
	}

	.encabezado_contenedor {
		padding: 30px;
		padding-bottom: 0px;
	}
	.contenedor_logo {
		text-align: center;
	}

	.contenedor_resto {
		text-align: center;
		padding: 20px;
	}


	a {
		color: #fff;
		text-decoration: none;
	}
	.btn {
	  background: #ffa801;
	  background-image: -webkit-linear-gradient(top, #ffa801, #ff8200);
	  background-image: -moz-linear-gradient(top, #ffa801, #ff8200);
	  background-image: -ms-linear-gradient(top, #ffa801, #ff8200);
	  background-image: -o-linear-gradient(top, #ffa801, #ff8200);
	  background-image: linear-gradient(to bottom, #ffa801, #ff8200);
	  -webkit-border-radius: 28;
	  -moz-border-radius: 28;
	  border-radius: 28px;
	  color: #ffffff;
	  font-size: 20px;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
	}

	.btn:hover {
	  background: #ff8301;
	  background-image: -webkit-linear-gradient(top, #ff8301, #ffa801);
	  background-image: -moz-linear-gradient(top, #ff8301, #ffa801);
	  background-image: -ms-linear-gradient(top, #ff8301, #ffa801);
	  background-image: -o-linear-gradient(top, #ff8301, #ffa801);
	  background-image: linear-gradient(to bottom, #ff8301, #ffa801);
	  text-decoration: none;
	}

	.imagen_celular_pc_tablet {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 483px;
	}

	.contenedor_boton {
		padding-top: 40px;
		padding-bottom: 30px;

	}
	.parte_abajo {
		padding: 4%;
	}

	.cuadrado {
		background: #e48227;
		max-width: 726px;
		width: 100%;	
		margin-bottom: 4%;
		border-radius: 10px;
	}

	.cuadrado:hover {
		background: #f0b738;	
		cursor: pointer;	
	}	
	.cuadrado img {
		width: 100%;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.cuadrado p{
		padding: 15px;
		font-size: 22px;	
	}

	 footer {
	 	margin-top: 2%;
	 	padding: 2% 4%;
	 	font-size: 16px;
	 	border-top: 1px solid #e8e8e8;
	 }
	.footer_1 ,	.footer_2{
		width: 100%;
		text-align: center;
		color: #5a5a5a;
		line-height: 25px;
	}

	.footer_2 {
		margin: 30px 0;
	}
	.footer_1 a {
		color: #4675a7;
		text-decoration: none;
	}
	.footer_1 a:hover {
		text-decoration: underline;
	}

	.footer_1 span {
		color: #ca4440;
		font-weight: bold;
	}

	.clear {
		float: none;
		clear:both;
	}

	.boton_redes_sociales {
		font-size: 20px;
		color: #000;
		width: 30px;
		padding: 5px;
		display: inline-block;
		text-align: center;
		margin-left: 5px;
		border-radius: 5px;
	}
	.boton_android {
		color: #a4c639;
	}
	.boton_android:hover {
		background: #a4c639;
		color: #fff;
	}

	.boton_facebook {
		color: #3b5998;
	}
	.boton_facebook:hover {
		background: #3b5998;
		color: #fff;
	}

	.boton_twitter {
		color: #5ea9dd;
	}
	.boton_twitter:hover {
		background: #5ea9dd;
		color: #fff;
	}	

	.boton_youtube {
		color: #e12d28;
	}
	.boton_youtube:hover {
		background: #e12d28;
		color: #fff;
	}	
	.boton_google {
		color: #e12d28;
	}
	.boton_google:hover {
		background: #e12d28;
		color: #fff;
	}	
	.boton_mail {
		color: #fa8037;
	}
	.boton_mail:hover {
		background: #fa8037;
		color: #fff;
	}			
	@media only screen and (min-width: 600px) {
		.margen_costado {
			margin-right: 4%;
		}
		.cuadrado {
			width: 48%;
			float: left;
		}
	}

	@media only screen and (min-width: 768px) {
		.contenedor_logo {
			text-align: left;
		}
		.footer_1 ,	.footer_2{
			width: 50%;
			text-align: center;
			float: left;
			text-align: left;
		}
		.footer_2{
			text-align: right;
			margin: 0;
		}		
	}
	@media only screen and (min-width: 999px) {
		.margen_costado, .margen_costado2 {
			margin-right: 3%;
		}
		.cuadrado {
			width: 22.75%;
			float: left;
		}
		.parte_abajo {
			padding: 3% 4%;
		}

		.cuadrado {
			margin-bottom: 2%;
		}
		.cuadrado p{
			font-size: 18px;
		}
	}

		.white-popup-block{
			background:#FFF;
			padding:20px 30px;
			text-align:left;
			max-width:650px;
			margin:40px auto;
			position:relative;
			color:#000;
		}
		.white-popup-block h1{
			font-size: 30px;
			text-align: center;
		}		
		#MP-Checkout-dialog {
			z-index: 9999!important;
		}
		.white-popup-block p{
			line-height: 20px;
			margin-bottom: 15px;
		}		
		.white-popup-block img{
			text-align: center;
			width: 100%;
			max-width: 468px;
			margin: 20px auto;
		}				
		.white-popup-block .banner_mercadopago_pop{
			text-align: center;
		}
		.white-popup-block .boton_mercadopago {
			text-align: center;
			background: #042641;
			border-radius: 15px;
			width: 200px;
		}
		.white-popup-block .boton_mercadopago a{
			color: #fff;
			font-size: 1.2em;
 
		}
		.white-popup-block .boton_mercadopago a:hover{
			background: #0a4879;
			background: -webkit-linear-gradient( bottom , #0a4879, #042641);
			background: linear-gradient(to top, #0a4879, #042641);   	
		}
		.white-popup-block .aprovecha_descuento {
			text-align: center;
			margin-bottom: 10px;
			padding: 10px;
		}
		.white-popup-block .aprovecha_descuento p {
			font-size: 24px;
			color:#258e12;
			font-weight: bold;
		}
		.white-popup-block .aprovecha_descuento p a{
			color:#0097d6;
		}		
		.white-popup-block .aprovecha_descuento p a:hover{
			color:#ff802e;
		}
</style>
   <style type="text/css">
      /* Styles for dialog window */
      #small-dialog {
        background: white;
        padding: 20px 30px;
        text-align: left;
        max-width: 400px;
        margin: 40px auto;
        position: relative;
      }


      /**
       * Fade-zoom animation for first dialog
       */
      
      /* start state */
      .my-mfp-zoom-in .zoom-anim-dialog {
        opacity: 0;

        -webkit-transition: all 0.2s ease-in-out; 
        -moz-transition: all 0.2s ease-in-out; 
        -o-transition: all 0.2s ease-in-out; 
        transition: all 0.2s ease-in-out; 



        -webkit-transform: scale(0.8); 
        -moz-transform: scale(0.8); 
        -ms-transform: scale(0.8); 
        -o-transform: scale(0.8); 
        transform: scale(0.8); 

      }

      /* animate in */
      .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
        opacity: 1;

        -webkit-transform: scale(1); 
        -moz-transform: scale(1); 
        -ms-transform: scale(1); 
        -o-transform: scale(1); 
        transform: scale(1); 
      }

      /* animate out */
      .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
        -webkit-transform: scale(0.8); 
        -moz-transform: scale(0.8); 
        -ms-transform: scale(0.8); 
        -o-transform: scale(0.8); 
        transform: scale(0.8); 

        opacity: 0;
      }

      /* Dark overlay, start state */
      .my-mfp-zoom-in.mfp-bg {
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-out; 
        -moz-transition: opacity 0.3s ease-out; 
        -o-transition: opacity 0.3s ease-out; 
        transition: opacity 0.3s ease-out;
      }
      /* animate in */
      .my-mfp-zoom-in.mfp-ready.mfp-bg {
        opacity: 0.8;
      }
      /* animate out */
      .my-mfp-zoom-in.mfp-removing.mfp-bg {
        opacity: 0;
      }



      /**
       * Fade-move animation for second dialog
       */
      
      /* at start */
      .my-mfp-slide-bottom .zoom-anim-dialog {
        opacity: 0;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;

        -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
        -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
        -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
        -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
        transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

      }
      
      /* animate in */
      .my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
        opacity: 1;
        -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
        -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
        -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
        -o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
        transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
      }

      /* animate out */
      .my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
        opacity: 0;

        -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
        -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
        -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
        -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
        transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
      }

      /* Dark overlay, start state */
      .my-mfp-slide-bottom.mfp-bg {
        opacity: 0;

        -webkit-transition: opacity 0.3s ease-out; 
        -moz-transition: opacity 0.3s ease-out; 
        -o-transition: opacity 0.3s ease-out; 
        transition: opacity 0.3s ease-out;
      }
      /* animate in */
      .my-mfp-slide-bottom.mfp-ready.mfp-bg {
        opacity: 0.8;
      }
      /* animate out */
      .my-mfp-slide-bottom.mfp-removing.mfp-bg {
        opacity: 0;
      }


/* Magnific popup seteo */
.boton_cerrar_popup {
    float: right;
    font-size: 36px;
    color: #000;
}
.boton_cerrar_popup:hover {
    text-decoration: none;
    cursor: pointer;
}
.white-popup-block {
	background: #fff !important;
	padding: 10px 20px !important;
	border-radius: 20px;
	max-width:600px;
	margin: 30px auto;	
	color: #000;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 10px 20px;
  width: auto;
  max-width: 600px;
  margin: 30px auto;
  color: #000;
  text-align: center;
}


       /**
       * Fade-zoom animation for first dialog
       */
      
      /* start state */
      .my-mfp-zoom-in .white-popup {
        opacity: 0;

        -webkit-transition: all 0.2s ease-in-out; 
        -moz-transition: all 0.2s ease-in-out; 
        -o-transition: all 0.2s ease-in-out; 
        transition: all 0.2s ease-in-out; 



        -webkit-transform: scale(0.8); 
        -moz-transform: scale(0.8); 
        -ms-transform: scale(0.8); 
        -o-transform: scale(0.8); 
        transform: scale(0.8); 
      }

      /* animate in */
      .my-mfp-zoom-in.mfp-ready .white-popup {
        opacity: 1;

        -webkit-transform: scale(1); 
        -moz-transform: scale(1); 
        -ms-transform: scale(1); 
        -o-transform: scale(1); 
        transform: scale(1); 
      }

      /* animate out */
      .my-mfp-zoom-in.mfp-removing .white-popup {
        -webkit-transform: scale(0.8); 
        -moz-transform: scale(0.8); 
        -ms-transform: scale(0.8); 
        -o-transform: scale(0.8); 
        transform: scale(0.8); 

        opacity: 0;
      }

.proximamente {
	font-size: 16px;
}

.bordes_rojos {
	border: 1px solid #eb2a21 !important;
}

.bordes_verdes {
	border: 1px solid #88ba00 !important;
}
.boton_trabajando{
	opacity: 0.3 !important;
	cursor: wait !important;
}

.error_home {
	background: #eb2a21 !important;
	padding: 10px;
	font-size: 16px !important;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin:10px auto;
width: 100%;
max-width: 500px;	
cursor:pointer!important;
}

.boton_login{
  display: block;
  height: 50px;
  line-height: 50px;
 margin: 0 auto;
  text-align: center;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;

  border-radius: 50em;
    background: #ffa801;
    background-image: -webkit-linear-gradient(top, #ffa801, #ff8200);
    background-image: -moz-linear-gradient(top, #ffa801, #ff8200);
    background-image: -ms-linear-gradient(top, #ffa801, #ff8200);
    background-image: -o-linear-gradient(top, #ffa801, #ff8200);
    background-image: linear-gradient(to bottom, #ffa801, #ff8200);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);

  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
  width: 100%;
  max-width: 250px;
  
}

.boton_conocenos{
  display: block;
  height: 50px;
  line-height: 50px;
 margin: 0 auto;
  text-align: center;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;

  border-radius: 50em;
    background: #e32d27;
    background-image: -webkit-linear-gradient(top, #e32d27, #c0171d);
    background-image: -moz-linear-gradient(top, #e32d27, #c0171d);
    background-image: -ms-linear-gradient(top, #e32d27, #c0171d);
    background-image: -o-linear-gradient(top, #e32d27, #c0171d);
    background-image: linear-gradient(to bottom, #e32d27, #c0171d);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);

  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
  width: 100%;
  max-width: 250px;
  
}
